<SeifConfiguration ProxyFactory="Seif.Rpc.Invoke.Default.DynamicProxyFactory, Seif.Rpc.Default, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
    TypeBuilder="Seif.Rpc.Default.AutofacTypeBuilder, Seif.Rpc.Default, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
    InvokerFactory="Seif.Rpc.Invoke.Default.DefaultInvokerFactory, Seif.Rpc.Default, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
    InvokerDispatcher="Seif.Rpc.Invoke.Default.DefaultInvokeDispatcher, Seif.Rpc.Default, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
  <Serializers>
    <add key="ServiceStackJsonSerializer" value="Seif.Rpc.Default.ServiceStackJsonSerializer, Seif.Rpc.Default, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </Serializers>
  <Invokers>
    <add key="HttpInvoker" value="Seif.Rpc.Invoke.Default.HttpInvoker, Seif.Rpc.Default, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </Invokers>
  <Registry Url="127.0.0.1:6379" Store="Seif.Rpc.Default.RedisRegistryProvider, Seif.Rpc.Default, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      Notify="Seif.Rpc.Default.RedisRegistryProvider, Seif.Rpc.Default, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      RegistryFactory="Seif.Rpc.Registry.GenericRegistryFactory, Seif.Rpc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  <Provider Domain="api.seif.com" IpAddress="127.0.0.1" NodeCode="PV"
      Protocol="HttpInvoker" SerializeMode="application/json" />
  <Consumer NodeCode="CC" Url="127.0.0.1" />
</SeifConfiguration>